* {
    margin: 0;
    padding: 0%;
    -webkit-tap-highlight-color: transparent;

}

@font-face {
    font-family: tropical-Asian;
    src: url(myFont/TropicalAsianDemoRegular-11V0.ttf)
}
@font-face {
    font-family: helloTropical;
    src: url(myFont/HelloTropical.ttf);

}

a {
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    color: #8f8f8f;
    padding: 10px;

    transition-duration: 1.5s;
    transition-property: font-size, color;
}

a:hover {
    font-size: 2.5em;
    color: #585656;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer'
}

header {
    text-align: center;
    user-select: none;
}

.title {
    grid-area: header;
    text-align: center;
    font-family: tropical-Asian;
    font-size: 7em;
    transition-property: color, letter-spacing;
    transition-duration: 1s;
}

.title:hover {
    color: red;
    letter-spacing: 7px;
}

main {
    grid-area: main;
}

.titleScreen {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
footer {
    grid-area: footer;
    text-align: center;
    font-size: 1.2em;
    font-family: tropical-asian;
    margin-top: 65px;
    padding: 6px;
    box-shadow: 0px 0px 5px 1px #dacfc152;
    color: #58462e95;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}


/*              CARDS            */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}



.card {
    color: white;
    box-shadow: 0px 0px 15px 3px #7a7a7a26;
    width: 350px;
    border-radius: 30px 30px;
    height: 450px;
    user-select: none;
    overflow: hidden;
    transition-property: all;
    transition-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: size;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes size {
    from{
       transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.144);
}
.cardTop {
    text-align: center;
    font-family: tropical-Asian;
    color: black;
    font-size: 60px;
    height: 50px;
    border-radius: 30px 30px 0 0;
    transition-property: all;
    transition-duration: 1s;
}

.cardTop:hover {
    color: rgb(230, 72, 72);


}
.cardAvatar > iframe{
    height: 350px;
    width: 350px;
}

.cardname {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


::placeholder {
    font-style: italic;
    color: rgba(0, 0, 0, 0.233);
}

.cardBottom {
    height: 50px;
    display: flex;
}

.playerOrBot {
    font-family: tropical-Asian;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    height: 50px;
    transition-property: width, font-size, box-shadow;
    transition-duration: 1s;
    cursor: pointer;

}


.playerOrBot:hover {
    font-size: 50px;
    width: 300px;
    box-shadow: 
    inset 0 0 5px 2px rgba(0, 0, 0, 0.089),
    0 0 10px 5px rgba(0, 0, 0, 0.233);
    color: rgb(230, 72, 72);
} 

/* vs sign animation */
.vs {
    user-select: none;
    font-family: tropical-asian;
    font-weight: 500;
    animation-name: vs;
    animation-duration: 1s ;
    animation-delay: 1s;
    font-size: 0em;
    animation-fill-mode: both;


}

@keyframes vs {
    from {font-size: 0em}
    to {font-size: 15em;}
}

.shrink {
    animation-name: shrink;
    animation-duration: 1s ;
    animation-delay: 2s;

 
}
@keyframes shrink {
    from {font-size: 15em}
    to {font-size: 10em;}
}

.startGame {
    display: none;
    border: none;
    font-family: tropical-asian;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.096);
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-name: appearButton;
    transition-duration: 1s;
    transition-property: transform;
}

.startGame:hover {
    transform: scale(1.4);
}

.startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes appearButton {
    from {
        font-size: 0;
    }
    to {
        font-size: 5em;
    }
}




#player1 {
    border-radius: 0 0 0 30px;
}

#player2 {
    border-radius: 0 0 0 30px;

}


.keepTransition {
    animation-name: keep;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

@keyframes keep{
    from {
        font-size: 50px;
        color: rgb(230, 72, 72);
        width: 300px;
    }
    to {
        font-size: 60px;
        width: 350px;
       color: rgb(209, 16, 16);

    }
}


.endTransition {
    animation-name: end;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

@keyframes end {
    from {
        font-size: 60px;
        width: 350px;
        color: rgb(160, 7, 7);
    }
    to {
        font-size: 2em;
        width: 200px;
        color: black;

    }
}




/*          loading Screeen          */
.loadingScreen {
    font-family: tropical-asian;
    font-size: 10em;
}

.contestant {
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 2em;
    justify-content: center;
    align-items: center;

}
.contestant1 {
    transform: scale(0);
}
.contestantVS {
    transform: scale(0);
}
.contestant2 {
    transform: scale(0);
} 

.timeCounter {
    transform: scale(0);
}
.countDown {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.addTropicalFont {
    font-family: helloTropical;
}
.increaseFont {
    animation-name: increaseFont;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes increaseFont {
    0% {transform: scale(0);} 
    75% {transform: scaleX(1.2);}
    100% {transform: scale(1);}
} 

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {transform: scale(1);}
    50% {transform: scaleX(1.2);}
    100% {transform: scale(0);} 
}

.quickIncrease {
    animation-name: quickIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes quickIn {
    0% {transform: scale(0);} 
    75% {transform: scaleX(1);}
    100% {transform: scale(1);}
} 

.quickFadeOut {
    animation-name: quickOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes quickOut {
    0% {transform: scale(1);}
    50% {transform: scaleX(1.2);}
    100% {transform: scale(0);} 
}


.
/* 
.contestant {
    width: 1000px;
    visibility: hidden;
    font-size: 15em;
    word-spacing: 20px;
}

.font {
    font-family: tropical-asian;
}

.giantFont {
    font-size: 100px;
}

.countDown {
    text-align: center;
    width: 1000vw; 
    font-size: 7em;
    font-family: helloTropical;
}

.showText {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.unshowText {
    animation-name: unshow;
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

@keyframes unshow {
    from{visibility: visible; opacity: 1;}
    to {visibility: hidden; opacity: 0;}
}

#firstText {
    display: none;
}
.timeCounter {
    display: none;
}
#startText {
    display: none;
}
@keyframes show {
    from{
        font-size: 0;
    } 
    to {
        visibility: visible;
        font-size: 1em;
    }
} */

